<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secutity_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tendery"
        tools:targetApi="31">
        <activity
            android:name=".ui.pertanyaan.jawaban.DetailJawabanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pertanyaan.jawaban.JawabanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.mainAdmin.ui.pertanyaan.EditSoalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.preTest.rv_test.TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.mainAdmin.AdminMainActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_main" />
        <activity
            android:name=".ui.preTest.NilaiPreTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.preTest.PreTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postTest.nilai.NilaiPostTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postTest.PostTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.riwayat.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pertanyaan.editJawaban.EditJawabanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pertanyaan.addPertanyaan.AddJawabanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pertanyaan.addPertanyaan.AddPertanyaanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pertanyaan.detailPertanyaan.DetailPertanyaanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penawaran.addPenawaran.AddPenawaranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penawaran.detailPenawaran.DetailPenawaranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.data_tender.editDataTender.EditDataTenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.data_tender.addTender.AddTenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.data_tender.detailTender.DetailTenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hps.editHPS.EdithpsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hps.addHPS.AddHPSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hps.detailHPS.Rincian_hpsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paket.editPaket.EditPaketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paket.addPaket.AddPaketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paket.detail.DetailPaketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addUser.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tendery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>